# Python bytecode
*.pyc

# Logs
*.log
nohup.out

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Others
Implementation/data/
Implementation/logs/
Implementation/run/
Implementation/results/
Implementation/config/api-config.json
Implementation/test*
!Implementation/corebm/*/test*

wandb/
trlx/
